<!-- login.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        {% if redirect_field_value == None %}
            <input type="hidden" name="{{ redirect_field_name }}" value="/LOGIN_REDIRECT_URL(instead of typing in settings.py file)/">
        {% else %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{redirect_field_value}}">
        {% endif %}
    </form>
    <a href="{% url 'register' %}">Register</a>
</body>
</html>